@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    }

body {
    font-family: 'Roboto', sans-serif;
}

/*NavBar*/

header {
    text-transform: uppercase;
    padding: 16px 0 16px 32px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    border-top: 2px #D11328 solid;
    border-bottom: 1px #1b3549 solid;
    box-shadow: 0 1px 16px rgba(0, 0, 0, .4);
    position: sticky;
    top: 0px;
}

#logo, nav, .nav-choice{
    display: inline-block;
}

#logo {
    margin-left: 50px;
    max-width: 120px;
    max-height: auto;
}

nav {
    display: inline-block;
    line-height: 48px;
    vertical-align: top;
}

.icon-nav {
    margin-right: 5px;
    font-size: 25px;
    color: #D11328;
}

.nav-choice {
    margin-left: 32px;
}

#nav-list-choice{
    margin-right: 200px;
    margin-top: 8px;
}

.nav-choice a, .button {
    text-decoration: none;
    color: #1b3549;
}

#hamburger, #humburger-content {
    display: flex;
    justify-content: space-between;
}

#hamburger-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 50px;
    padding: 0;
    vertical-align: top;
    float: right;
    margin-right: 32px;
}

#hamburger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#hamburger-sidebar {
    display: none;
    position: fixed;
    width: 60%;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}

#hamburger-sidebar li {
    display: block;
}

#hamburger-sidebar-header {
    background-color: lightgray;
    border-top: 2px #D11328 solid;
    border-bottom: 1px #1b3549 solid;
    height: 92px;
}

#logo-sidebar {
    margin-top: 19px;
    max-width: 120px;
    max-height: auto;
    transform: translateX(-100%);
    transition: transform .6s ease-out;
}

#hamburger-sidebar-body {
    background-color: #ffffff;
    height: 100%;
    padding: 16px 8px;
}

@media screen and (max-width: 860px) {

    header {
        background-color: rgba(245, 245, 245, 0.95);
        backdrop-filter: none;
    }   
    #hamburger-content{
        display: none;
    }

    #hamburger, #humburger-content{ 
        display: inline;
    }

    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }

    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0%);
    }

    .hamburger-activated #logo-sidebar {
        transition-delay: 100ms;
        transform: translateX(30%);
    }

    #nav-accueil{
        transform: translateX(-160%);
        transition: transform .6s ease-out;
    }

    .hamburger-activated #nav-accueil {
        transition-delay: 200ms;
        transform: translateX(10%);
    }

    #nav-menu{
        transform: translateX(-160%);
        transition: transform .6s ease-out;
    }

    .hamburger-activated #nav-menu {
        transition-delay: 300ms;
        transform: translateX(10%);
    }

    #nav-contact{  
        transform: translateX(-160%);
        transition: transform .6s ease-out;
    }

    .hamburger-activated #nav-contact {
        transition-delay: 400ms;
        transform: translateX(10%);
    }
}

/* banniere */

.banniere {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-image: url('../images/banburger.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 50%;
    margin-top: 200px;
    margin-bottom: 200px;
}

@media screen and (max-width: 1300px) {
    .logo {
        width: 50%;
        margin-top: 150px;
        margin-bottom: 150px;
    } 
}

@media screen and (max-width: 1000px) {
    .logo {
        width: 50%;
        margin-top: 100px;
        margin-bottom: 100px;
    } 
}

@media screen and (max-width: 800px) {
    .logo {
        width: 50%;
        margin-top: 75px;
        margin-bottom: 75px;
    } 
}

@media screen and (max-width: 500px) {
    .logo {
        width: 50%;
        margin-top: 50px;
        margin-bottom: 50px;
    } 
}