@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    }

body {
    font-family: 'Roboto', sans-serif;
}

/*NavBar*/

header {
    text-transform: uppercase;
    padding: 16px 0 16px 32px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    border-top: 2px #D11328 solid;
    border-bottom: 1px #1b3549 solid;
    box-shadow: 0 1px 16px rgba(0, 0, 0, .4);
    position: sticky;
    top: 0px;
}

#logo, nav, .nav-choice{
    display: inline-block;
}

#logo {
    margin-left: 50px;
    max-width: 120px;
    max-height: auto;
}

nav {
    display: inline-block;
    line-height: 48px;
    vertical-align: top;
}

.icon-nav {
    margin-right: 5px;
    font-size: 25px;
    color: #D11328;
}

.nav-choice {
    margin-left: 32px;
}

#nav-list-choice{
    margin-right: 200px;
    margin-top: 8px;
}

.nav-choice a, .button {
    text-decoration: none;
    color: #1b3549;
}

#hamburger, #humburger-content {
    display: flex;
    justify-content: space-between;
}

#hamburger-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 50px;
    padding: 0;
    vertical-align: top;
    float: right;
    margin-right: 32px;
}

#hamburger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#hamburger-sidebar {
    display: none;
    position: fixed;
    width: 60%;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}

#hamburger-sidebar li {
    display: block;
}

#hamburger-sidebar-header {
    background-color: lightgray;
    border-top: 2px #D11328 solid;
    border-bottom: 1px #1b3549 solid;
    height: 92px;
}

#logo-sidebar {
    margin-top: 19px;
    max-width: 120px;
    max-height: auto;
    transform: translateX(-100%);
    transition: transform .6s ease-out;
}

#hamburger-sidebar-body {
    background-color: #ffffff;
    height: 100%;
    padding: 16px 8px;
}

@media screen and (max-width: 860px) {

    header {
        background-color: rgba(245, 245, 245, 0.95);
        backdrop-filter: none;
    }   
    #hamburger-content{
        display: none;
    }

    #hamburger, #humburger-content{ 
        display: inline;
    }

    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }

    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0%);
    }

    .hamburger-activated #logo-sidebar {
        transition-delay: 100ms;
        transform: translateX(30%);
    }

    #nav-accueil{
        transform: translateX(-160%);
        transition: transform .6s ease-out;
    }

    .hamburger-activated #nav-accueil {
        transition-delay: 200ms;
        transform: translateX(10%);
    }

    #nav-menu{
        transform: translateX(-160%);
        transition: transform .6s ease-out;
    }

    .hamburger-activated #nav-menu {
        transition-delay: 300ms;
        transform: translateX(10%);
    }

    #nav-contact{  
        transform: translateX(-160%);
        transition: transform .6s ease-out;
    }

    .hamburger-activated #nav-contact {
        transition-delay: 400ms;
        transform: translateX(10%);
    }
}

/* banniere */

.banniere {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-image: url('../images/banburger.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.log {
    width: 50%;
    margin-top: 200px;
    margin-bottom: 200px;
}

@media screen and (max-width: 860px) {
    .log {
        visibility: hidden;
    }
}

/* Description */

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    width: 100%;
}

.boxd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}   

.contenud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px black;
    text-decoration: none;
    color: black;
    transition: 250ms;
}

.titreh {
    margin: 10px;
    font-size: 200%;
}

.texth {
    margin: 10px;
    font-size: 125%;
    text-align: center;
}

span {
    text-decoration: underline;
}

/* Séparateur */

.separator {
    width: 80%;
    height: 3px;
    border-radius: 50%;
    background-color:lightgray;
}

/* Autres */

.autre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: auto;;
}

.horaire {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
} 

.heure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    color: white;
    background-color: #D11328;
    padding-top: 20px;
    padding-bottom: 20px;
}

.separatorh {
    width: 3px;
    height: 300px;
    border-radius: 50%;
    background-color:lightgray;
}

.platdj {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
} 

.repasdj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    color: white;
    background-color: #1b3549;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
}

.titrea {
    margin: 10px;
    font-size: 200%;
}

.titres {
    margin: 10px;
    font-size: 150%;
    color: fuchsia;
}

.texta {
    margin: 10px;
    font-size: 125%;
    text-align: center;
}

@media screen and (max-width: 860px) {
    .autre {
        flex-direction: column;
    }
    .horaire {
        width: 80%;
    } 
    .separatorh {
        width: 80%;
        height: 3px;
    }
    .platdj {
        width: 80%
    } 
}

@media screen and (max-width: 545px) {
    .titrea {
        margin: 10px;
        font-size: 150%;
    }
    .texta {
        font-size: 90%;
    }
    .titres {
        margin: 10px;
        font-size: 110%;
        color: fuchsia;
    }
}

@media screen and (max-width: 389px) {
    .titrea {
        margin: 10px;
        font-size: 120%;
    }
    .texta {
        font-size: 70%;
    }
    .titres {
        margin: 10px;
        font-size: 90%;
        color: fuchsia;
    }
}